* {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding-right: 2rem;

}

.navContainer {
    display: flex;
    justify-content: center;
    background-color: #0b090a;
    align-items: center;
    height: 5rem;
    width: 100vw;
    min-width: 1200px;
}

.home-wrapper {
    margin-right: 6rem;
}

.planets-nav {
    justify-content: space-between;
}

#contact-us {
    margin-left: 5rem;
}