* {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  color: #fff;
}

/* Navbar anchors, containers and button */

.planets-nav a,
.home-wrapper a {
  text-decoration: none;
  padding-right: 2rem;
}

body {
  line-height: 1.6;
}

.home-wrapper a:hover,
.planets-nav a:hover {
  text-shadow: 3px 3px 4px #fca311;
}

.navContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #0b090a;
  align-items: center;
  height: 5rem;
  width: 100%;
  min-width: 1200px;
}

.home-wrapper {
  margin-right: 6rem;
}

.planets-nav {
  justify-content: space-between;
}

#contact-us {
  padding: 10px 20px;
  margin-left: 5rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 500;
  color: #0b090a;
  transition: 0.2s all;
}

#contact-us:active,
#closeBtn {
  transform: scale(0.95);
}

#contact-us:hover,
#closeBtn:hover {
  box-shadow: 0 0 12px 8px #fca311;
  background-color: #e5e5e5;
  cursor: pointer;
}
/* End of navbar/navbar elements styling */

/*Contact form modal */

.contact-modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 22rem;
  width: 25rem;
  border-radius: 5px;
  background-color: #0b090a;
  box-shadow: 0 0 5px #fca311;
}

.modal-content {
  text-align: center;
  padding-top: 2rem;
  line-height: 2rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 5px #fca311;
}

#closeBtn {
  margin-top: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 500;
  color: #0b090a;
  transition: 0.2s all;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
}
.main-wrapper {
  background-color: #14213d;
  margin: 8.75rem 0 0 0;
  padding: 3.125rem 4.6875rem;
  box-sizing: border-box;
  /* min-width: 1000px; */
  width: 70rem; /* 1120px */
  height: 1fr;
}
.main-wrapper h2 {
  margin: 0 0 1rem 0;
}
.planet-info {
  display: flex;
}
.planet-img-wrapper,
.planet-img-wrapper img {
  height: 22.5rem;
}
.planet-img-wrapper {
  /* width: 45%; */
  width: 40%;
}
.planet-img-wrapper img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.planet-api-content {
  /* width: 55%; */
  width: 60%;
  padding: 0 0 0 1rem;
}

.planet-api-content p,
.planet-text p {
  /* letter-spacing: 0.12rem; */
  /* letter-spacing: 1px; */
  letter-spacing: 1.5px;
}
.planet-text {
  padding: 0 0 3.4375rem 0;
}
.planet-text p:first-of-type {
  padding: 2rem 0 0 0;
}
.planet-text p {
  padding: 1rem 0 0 0;
}

.planet-name{
  display: inline;
}

/* Color palette: https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */
